/*********************************************
Vertical offset
**********************************************
* Dynamic value for margin-top and margin bottom.
* Usage: on `class` attribute ~ .mt-x and .mb-x
* Where: x is the value from 0 to 100
* You can increment 100 to what value you want.

* Usage on file. 
* Import this file on your app.scss
* @import "mtmb";
*
*/

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  
  .mt-mb-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
}

// ~ rexon
